Client/node_modules
server/run.bat
server/node_modules
server/lib/node_modules
server/Web/public/js/**
!server/Web/public/js/jquery.js
server/sub/global.json
server/sub/nick.json
server/config/api.inc.json
server/config/event.inc.json
server/config/generic.inc.json
server/config/network.inc.json
server/config/rule.inc.json
server/config/word.inc.json

node_modules/**
.idea
logs/**
suspicions/**
Game 1.bat
Game 2.bat
Game 3.bat